.lc-ghost-group {
  box-sizing: border-box;
  position: fixed;
  z-index: 99999;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  background-color: var(--color-block-background-deep-dark, rgba(0, 0, 0, 0.4));
  box-shadow: 0 0 6px var(--color-block-background-shallow, grey);
  transform: translate(-10%, -50%);
}

.lc-ghost {
  width: 100%;
}

.lc-ghost-title {
  text-align: center;
  font-size: var(--font-size-text, 12px);
  text-overflow: ellipsis;
  color: var(--color-text-light, #fff);
  white-space: nowrap;
  overflow: hidden;
  padding: 4px 8px;
}
